.NavigationItems {
  margin: 0;
  font-size: 14px;
  list-style: none;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-between;
}

@media (min-width: 500px) {
  .NavigationItems {
      flex-flow: row;
  }
}