.auction {
  width: 30%;
  height: 450px;
  margin: 20px 20px;
  text-align: center;
  padding: 0 25px;
  outline: 3px solid #D85430;
  border: 6px solid #374249;
  display: inline-block;
}

.auctionButton {
  width: 60px;
  height: 30px;
}