.header {
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  color: white;
  margin-top: 70px;
  text-align: center;
  height: 400px;
  background: url('../../assets/bakgrunn.jpg') no-repeat center center;
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center; 
}
