.header {
  width: 100%;
  font-weight: bold;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  background: url('../../assets/header.jpg') no-repeat center center;
  text-align: center;
  height: 500px;
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center; 
}

