.Button {
  background-color: transparent;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  border-radius: 25px;
  background: #37424a; 
  width: 70x;
  height: 35px; 
  padding-bottom: 30px;
}

.Button:hover {
  border: 3px solid #D85430;
}

